.app{
  padding-top: 3rem;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.header__container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header {
  width: min(90vw, 1000px);
  display: flex;
}

.header__portrait {
  flex-shrink: 0;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.header__body {
  margin-left: 1vw;
  width: max(90%, 800px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}